<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="/css/login.css" />
  <link rel="stylesheet" type="text/css" href="/css/main.css" />
  <style>
    .fluid-container {
      margin: 30px;
      margin-top: 130px;
    }
  </style>
  <title>Lista e Kontratave</title>
</head>
<body>


     <div class="wrap" id="wrap">
        <div class="content">
                <div class="header">
                   <img src="logo.jpg">
                     <h1>Komuna e Prishtines</h1>
                </div>


                <div class="info">
                        <h1>Flat Login Form</h1><span>Made with <i class="fa fa-heart"></i> by <a href="http://andytran.me">Andy Tran</a></span>
                      </div>
                    </div>
                    <div class="form">
                       
                      <div class="thumbnail"><img src="users.png"/></div>
           
                      <form class="login-form" action="/login" method="POST">
                        <input type="text" name="email" placeholder="email"/>
                        <input type="password" name="password" placeholder="password"/>
                        <button type="submit" value="Login" >login</button>
                      </form>
                    </div>

            <div class="container"></div>
            <div class="footer"></div>   
        </div>     
    </div>
</body>

</html>